/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

h1 {
  color: $primary-color;
}

select {

  .browser-default {
    margin: 5px 0 0 0;
  }
}

.align-icon {
  vertical-align: -5px;
}
